In [0]:
import pandas as pd
import numpy as np

In [0]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [5]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [8]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [9]:
chipo.shape[0]

4622

In [10]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
chipo.shape[1] # number of columns

5

In [12]:
#columns names 
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
#how the data is indexed 
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [25]:
#Most Ordered item
chipo.groupby('item_name').sum().sort_values('quantity',ascending= False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [29]:
chipo.groupby('choice_description').sum().sort_values('quantity',ascending= False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [30]:
#total Item ordered 
chipo.quantity.sum()

4972

In [33]:
chipo.item_price.dtype

dtype('O')

In [0]:
#Changing Item price data type from
fun = lambda x : float(x[1:-1])
chipo.item_price = chipo.item_price.apply(fun)

In [40]:
chipo.item_price.dtype

dtype('float64')

In [45]:
#number of orders made
chipo.order_id.value_counts().count()

1834

In [47]:
chipo.groupby('order_id').sum()

          quantity  item_price
order_id
1                4       11.56
2                2       16.98
3                2       12.67
4                2       21.00
5                2       13.70
...            ...         ...
1830             2       23.00
1831             3       12.90
1832             2       13.20
1833             2       23.50
1834             3       28.75

[1834 rows x 2 columns]

In [50]:
#Average  Revenue per order 
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [53]:
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654